body {
    margin: 0;
    line-height: normal;
}


:root {

    /* Color */
    --color-khaki: #fae463;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: rgba(0, 0, 0, 0.2);
    --color-blueviolet: #a239f9;
    --color-mediumvioletred: #e0388a;
    --color-dimgray: rgba(102, 102, 102, 0.4);

    /* Padding */
    --padding-8: 8px;
    --padding-14: 14px;
    --padding-6: 6px;
    --padding-4: 4px;

    /* BorderRadius */
    --br-4: 4px;

    /* Font */
    --font-montserrat: Montserrat;
    --font-outfit: Outfit;
    --font-rubik-mono-one: Rubik Mono One;

    /* FontSize */
    --font-size-30: 30px;
    --font-size-36: 36px;
    --font-size-24: 24px;
    --font-size-20: 20px;
    --font-size-16: 16px;
    --font-size-40: 40px;

}